@font-face {
    
  font-family: 'digital_dismayregular';
  src: url('fonts/digital_dismay-webfont.woff2') format('woff2'),
       url('fonts/digital_dismay-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {

  font-family: 'future_earthregular';
  src: url('fonts/future-earth-webfont.woff2') format('woff2'),
       url('fonts/future-earth-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

div {
  width: 50%;
  margin: 1em auto;
}

#show_count {
  width: 25%;
  margin: auto;
  text-align: center;
  font-family: 'digital_dismayregular';
  font-size: 2em;
  padding: 1em;
  border: 0.1em solid black;
  border-radius: 2em;
  background-color: rgb(195, 197, 201);
}

button {
  font-family: future_earthregular;
  font-size: 2em;
  display: block;
  width: 75%;
  margin: 1em auto;
  border: 0.1em solid black;
  border-radius: 2em;
}